<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlConnection" connectionString="Data Source=Mario_Stargazer;Initial Catalog=teste_cadastros;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="PeopleRegister.Properties.Settings.SqlConnection"
            connectionString="Data Source=localhost;Initial Catalog=teste_cadastros;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>